@use '../../vendor/pico/scss/colors' as *;

$color-border: $slate-450;
$color-analysis-bg: $slate-800;
$color-num-bg: $slate-700;
$color-move-active: $azure-550;
$color-move-active-fg: $zinc-50;
$color-move-hover: $azure-450;

.app {
    display: grid;
    grid-template-columns: fit-content(80%) fit-content(80%);
    grid-template-rows: fit-content(80%);

    gap: 50px;
    justify-content: center;
    align-items: start;

    .analysis {
        width: 400px;
        height: 80vh;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        background-color: $color-analysis-bg;

        border-radius: 5px;

        .toolbar {
            display: flex;

            justify-content: space-between;

            margin-top: auto;
            border-top: 1px solid $color-border;

            .set {
                display: inline-block;
            }

            .tool {
                display: inline-block;

                padding: 6px 12px;

                &:hover {
                    cursor: pointer;
                    background-color: $color-move-hover;
                }
            }
        }
    }
}

.history {
    display: grid;

    grid-template-columns: 1fr 3fr 3fr;

    overflow-y: scroll;

    &>.num {
        background-color: $color-num-bg;
        border-right: 1px solid $color-border;

        text-align: center;
    }

    .move,
    .dots {
        padding: 0 12px;
    }

    .move {
        &.active {
            background-color: $color-move-active;
            color: $color-move-active-fg;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-move-hover;
        }

        .player {
            display: inline-block;

            width: 1em;
            height: 1em;
            border-radius: 0.5em;

            vertical-align: sub;
        }

        .build {
            margin-left: 6px;
        }
    }

    .sub {
        grid-column: 1/4;

        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;

        font-size: 0.8em;

        .line {
            padding: 0 12px;
        }

        .num {
            margin-right: 5px;
        }

        .move,
        .dots {
            padding: 0;
            margin-right: 5px;

            border-radius: 2px;
        }
    }
}

.suggest {
    border-bottom: 1px solid $color-border;

    hgroup {
        padding: 6px 12px;
        margin-bottom: 0;

        h5 {
            display: flex;
            justify-content: space-between;
        }

        h6 {
            font-size: 0.8em;
        }
    }

    progress {
        display: block;
        margin-bottom: 0;
        height: 5px;
        border-radius: 0;
    }

    .moves {
        display: grid;

        grid-template-columns: repeat(3, min-content) 1fr;

        div {
            padding: 0 6px;
        }

        .num {
            background-color: $color-num-bg;
        }

        .move {
            border-left: 1px solid $color-border;

            white-space: nowrap;

            &:hover {
                cursor: pointer;
                background-color: $color-move-hover;
            }

            .player {
                display: inline-block;

                width: 1em;
                height: 1em;
                border-radius: 0.5em;

                vertical-align: sub;
            }

            .build {
                margin-left: 6px;
            }
        }

        .next {
            font-size: 0.8em;

            overflow: hidden;
            text-overflow: ellipsis;

            .move {
                margin-right: 5px;

                border: 0;
                border-radius: 2px;

                line-height: initial;
                vertical-align: bottom;
            }
        }
    }
}

dialog {
    .close {
        display: block;
        width: 1rem;
        height: 1rem;
        margin-top: calc(var(--block-spacing-vertical) * -0.5);
        margin-bottom: var(--typography-spacing-vertical);
        margin-left: auto;
        background-image: var(--icon-close);
        background-position: center;
        background-size: auto 1rem;
        background-repeat: no-repeat;
        opacity: 0.5;

        transition: opacity var(--transition);

        &:is([aria-current], :hover, :active, :focus) {
            opacity: 1;
        }

        cursor: pointer;
    }

    .import {
        #ser_tree {
            height: 150px;
        }

        .buttons {
            display: flex;

            justify-content: space-between;

            button {
                width: initial;
            }
        }
    }
}