@use '../../vendor/pico/scss/colors' as *;

$size-tile: 150px;
$size-levels: (
    0: 130px,
    1: 110px,
    2: 90px,
    3: 70px,
);

$color-board: $sand-100;
$color-tile: $green-400;
$color-highlight: $purple-600;
$color-players: (
    0: $red-450,
    1: $yellow-100,
    2: $fuchsia-450,
);
$color-levels: (
    0: $blue-50,
    1: $blue-150,
    2: $blue-250,
    3: $blue-550,
);

.board {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

    background-color: $color-board;

    border-radius: 5px;
    overflow: hidden;

    .tile {
        position: relative;

        width: $size-tile;
        height: $size-tile;

        border-radius: 5px;

        &:nth-child(5n + 1) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:nth-child(5n + 5) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:nth-child(n+1):nth-child(-n+5) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:nth-child(n+21):nth-child(-n+25) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        background-color: $color-tile;

        .building,
        .player {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .player {
            width: 50px;
            height: 50px;

            border-radius: 25px;

            transition: transform 0.2s ease;

            z-index: 5;
        }

        @each $key,
        $val in $size-levels {
            .building.l-#{$key} {
                width: $val;
                height: $val;

                border-radius: 5px;

                z-index: $key;

                background-color: map-get($color-levels, $key);
            }
        }

        .building.l-3 {
            border-radius: calc(map-get($size-levels, 3) / 2);
        }

        &.hover:hover {
            cursor: pointer;
        }

        &.selected:hover {
            cursor: not-allowed;
        }

        &.hover:hover,
        &.selected {
            .player {
                $scale: 1.5;

                transform: scale($scale) translateX(calc(-50% / $scale)) translateY(calc(-50% / $scale));
            }
        }

        &.highlight {
            border: 5px dashed $color-highlight;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.player {

    @each $key,
    $val in $color-players {
        &.p-#{$key} {
            background-color: $val;
        }
    }
}